body {
    position: relative;
    margin: 0;
}

body.ohidden {
    margin-right: 17px;
    overflow: hidden;
}

h1 {
    margin-top: 1em;
    text-align: center;
}

header {
    background: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: #ffffff;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.logo img {
    width: 50px;
}

.logo .logo-text {
    margin-left: 10px;
    font-size: 20px;
}

.logo:hover .logo-text {
    color: #d4a9ff;
}

nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

.nav-menu li.active {
    color: #d4a9ff;
    cursor: auto;
    pointer-events: none;
}

.nav-menu li:hover {
    color: #d4a9ff;
}

main {
    min-height: 600px;
}

.main-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 139px);
}

.content {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}

footer {
    background: #000000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #ffffff;
    font-size: 20px;
}

.footer-block {
    width: 33.3333%;
    text-align: center;
}

.footer-block:last-child {
    display: flex;
    justify-content: end;
}

a.footer-github {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

a.footer-github:hover {
    color: #d4a9ff;
    text-decoration: underline;
}

a.footer-github img {
    width: 50px;
}

a.footer-github span {
    margin-left: 20px;
}

a.footer-rss img {
    width: 100px;
}